/*#region General*/
.mainCont {
  background-image: linear-gradient(#e5e2f4, #8e83aa);
}

.container {
  background-color: #8e83aa;
  max-width: 80%;
  margin: 0 auto;
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 1em;
}
/*#endregion General*/

/*#region Section*/
.section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
position: relative;
  max-width: 95%;
  margin: 0 auto;
  padding-bottom: 10rem;
  background-color: #8e83aa;
  border: #756b8d solid 2px;
}

.section h1 {
  font-size: 5rem;
  font-weight: bold;
  color: #fff;
  text-align: center;
  margin-bottom: 1rem;
  padding-top: 2rem;
  margin:0 auto;
}

.section p {
  font-size: 1.5rem;
  color: #fff;
  text-align: center;
  margin-bottom: 1rem;
}

.leftCont {
  max-width: 50%;
  display: flex;
  flex-direction: column;
}

.leftCont p {
  font-size: 3rem;
  color: #fff;
  text-align: center;
  margin-bottom: 1rem;
}

.link {
  margin-top: 0.5em;
 margin-bottom: 0.5em;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: #fff solid 2px;
  font-size: 3rem;
  font-weight: bold;
  padding: 0.5em 0.5em;
  border-radius: 8px;
  text-align: center;

}

.link:hover {
  background-color: #fff;
  color: #8e83aa;
}


/*#endregion Section*/

/*#region img*/
.figure {
  max-width: 250px;
  max-height: 400px;
  margin-left: 15rem;
  padding-top: 9em;
  margin-bottom: 4rem;
}

.img {
  width: 100%;
  height: 100%;
  border-radius: 7px;
}

/*#endregion img*/

/*#region Short Description*/

.shortDesc {
  max-width: 100%;


}

.shortDesc p{
  font-size: 2rem;
  color: antiquewhite;
text-align: left;
  margin-top: 1em;
}
/*#endregion Short Description*/


/*#region Hover*/
.shortDesc {
	
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	position: relative;
  padding: 5rem;
}





.shortDesc:before {
	content: '';
	position: absolute;
	top: 5%;
	right: 5%;
	bottom: 5%;
	left: 5%;
	border-top:antiquewhite solid 2px;
	border-bottom:antiquewhite solid 2px;
	transition: 0.2s;
	transform: scaleX(0);
}



.shortDesc:after {
	content: '';
	position: absolute;
	top: 5%;
	right: 5%;
	bottom: 5%;
	left: 5%;
	border-left:antiquewhite solid 2px;
	border-right:antiquewhite solid 2px;
	transition: 0.2s;
	transform: scaleY(0);
	
}

.shortDesc:hover:before,
.shortDesc:hover:after {
	transform: scale(1);
}


/*#endregion Hover*/

/*#region MediaQueries*/

@media(max-width: 800px){
  .section{
display: flex;
flex-direction: column;
max-width: 100%;
padding: 0;
margin:0;
  }
  .container{
    max-width: 100%;
    padding: 0;
margin:0;
  }
 
  .leftCont{
    max-width: 100%;
  }
  .link{
    display: block;
    margin-left:1em ;
    margin-right:1em ;
  }
  .leftCont h1{
    font-size: 2rem;
  }
  .figure{
    margin:0 auto;
  }
}
/*#endregion MediaQueries*/